body{
    background-color: black
}
.container{
    margin: auto;
    width: 95%;
    height: 100vh;
    border: 1px solid black;
    justify-content: center;
    display: flex;
    align-items: center;
    
}
.counter{
    border: 5px solid black;
    padding: 25px;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 350px;
    width: 600px;
    margin: auto;
    background-color: aliceblue;

}
#count{
    font-size: 9rem;
}
#logo{
    height: 3rem;
    
}